@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);
.name {
  // background-color: #d6d2c4;
  // width: 1%;
  margin: auto;
  padding: 2rem;
  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-style: lato;

  background: linear-gradient(
    45deg,
    rgba(61, 126, 166, 0.22172619047619047) 49%,
    rgba(61, 126, 166, 0.09287464985994398) 49%
  );
  .line-1 {
    position: relative;
    top: 50%;
    width: 12em;
    color: #00587a;
    margin: 0 auto;
    border-right: 2px solid rgba(255, 255, 255, 0.75);
    font-size: 2.5rem;
    // font-weight: 600;
    font-family: lato;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
  }
  .anim-typewriter {
    animation: typewriter 3s steps(15) 1s 1 normal both,
      blinkTextCursor 500ms steps(15) infinite normal;
  }
  @keyframes typewriter {
    from {
      width: 0;
    }
    to {
      width: 8.5em;
    }
  }
  @keyframes blinkTextCursor {
    from {
      border-right-color: rgba(255, 255, 255, 0.75);
    }
    to {
      border-right-color: #d6d2c4;
    }
  }
  .detail {
    width: 20rem;
    margin: auto;
    margin-top: 2rem;
    text-align: center;
  }
  .social {
    margin-top: 1rem;
    a {
      text-decoration: none;
      color: #00587a;
    }
  }
  .json {
    display: block;
    margin: auto;
    margin-top: 1rem;
    padding: 1rem;
    box-sizing: border-box;
    background: #494949;
    border-radius: 0.5rem;
    pre {
      font-size: 20px;
      background: #494949;
      color: #fff;
      // border-radius: 10px;
      margin: 0 auto;
      padding: 10px;
      padding-top: 0;
      padding-bottom: 0;
      line-height: 1.3;
      // border: 4px solid #fff;
    }
  }
}
